<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>My Cart</title>
      <link rel="stylesheet" href="cart_styles.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js" charset="utf-8"></script>
      <script src="cart_script.js" charset="utf-8" async></script>
   </head>
   <body ng-app="myCart">

      <section class="cart-header">
         <div>
            <p id="cart-head">CART</p>
         </div>
      </section>

      <section class="cart-body" ng-controller="itemsDisplayCtrl">
            <table class="cartTable" border="4">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Price</th>
                  </tr>
               </thead>
                  <tr ng-repeat="item in itemsInCart">
                     <td class="table-data"> {{item.itemname}} </td>
                     <td class="table-data"> {{item.itemprice}} </td>
                  </tr>
            </table>
      </section>

      <section  class="cart-footer">
         <div class="cart-items-total" ng-controller='cartPriceCtrl'>
            <strong id="cart-total-name">Total</strong>
            <span id="cart-total-price">Rs.<span id="cart-amount"> {{cart_total_price}}</span></span>
         </div>
         <div class="cart-purchase-btn" ng-controller='purchaseCtrl'>
            <button id="purchase-btn" type="button" ng-click="displayPopup()">PURCHASE</button>
         </div>
         <div class="cart-remove-btn" ng-controller='removeCtrl'>
            <button id="remove-btn" type="button" ng-click='clearCart()'>Clear Cart</button>
         </div>
      </section>

   </body>
</html>
