<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>
         AngularJS Case Study
      </title>
      <link rel="stylesheet" href="styles.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js" charset="utf-8"></script>
      <script src="case_study_script.js" charset="utf-8"></script>
   </head>
   <body ng-app="app">

      <div class="logo-name">
         <center>
            <p>www.ES.com</p>
         </center>
      </div>

      <div class="products-display">

         <!--Samsung Galaxy S10 plus-->
         <div class="product1">
            <h2>Samsung Galaxy S10+</h2>
            <center>
               <img src="samsung-galaxy-s10-plus-front.jpeg" alt="Front Image">
               <img src="samsung-galaxy-s10-plus-back.jpeg" alt="Back Image">
            </center>
            <br>
            <b>Select Color: </b>
            <select ng-controller='s10colorsctrl' ng-model="s10colormodel" ng-options="x for x in s10colors" ng-change='s10colorsFun()'>
            </select>
            <b>Select Storage: </b>
            <select ng-controller='s10memoryctrl' ng-model="s10memorymodel" ng-options="x for x in s10memory" ng-change='s10memoryFun()'>
            </select>
            <b>Select RAM: </b>
            <select ng-controller='s10ramctrl' ng-model="s10rammodel" ng-options="x for x in s10ram" ng-change='s10ramFun()'>
            </select>

            <h3 ng-controller="s10ctrl">Total Price: Rs. {{total_S10}}</h3>

         </div>

         <hr>

         <!--Vivo Z1 Pro-->
         <div class="product2">
            <h2>Vivo Z1 Pro</h2>
            <center>
               <img src="vivo-z1-pro-front.jpeg" alt="Front Image">
               <img src="vivo-z1-pro-back.jpeg" alt="Back Image">
            </center>
            <br>
            <b>Select Color: </b>
            <select ng-controller='vz1colorsctrl' ng-model="vz1colormodel" ng-options="x for x in vz1colors" ng-change='vz1colorsFun()'>
            </select>
            <b>Select Storage: </b>
            <select ng-controller='vz1memoryctrl' ng-model="vz1memorymodel" ng-options="x for x in vz1memory" ng-change='vz1memoryFun()'>
            </select>
            <b>Select RAM: </b>
            <select ng-controller='vz1ramctrl' ng-model="vz1rammodel" ng-options="x for x in vz1ram" ng-change='vz1ramFun()'>
            </select>

            <h3 ng-controller="vz1ctrl">Total Price: Rs. {{total_vz1}}</h3>

         </div>

         <hr>

         <!--Apple iPhone 7-->
         <div class="product3">
            <h2>Apple iPhone 7</h2>
            <center>
               <img src="apple-iphone-7-front.jpeg" alt="Front Image">
               <img src="apple-iphone-7-back.jpeg" alt="Back Image">
            </center>
            <br>
            <b>Select Color: </b>
            <select ng-controller='i7colorsctrl' ng-model="i7colormodel" ng-options="x for x in i7colors" ng-change='i7colorsFun()'>
            </select>
            <b>Select Storage: </b>
            <select ng-controller='i7memoryctrl' ng-model="i7memorymodel" ng-options="x for x in i7memory" ng-change='i7memoryFun()'>
            </select>
            <b>Select RAM: </b>
            <select ng-controller='i7ramctrl' ng-model="i7rammodel" ng-options="x for x in i7ram" ng-change='i7ramFun()'>
            </select>

            <h3 ng-controller="i7ctrl">Total Price: Rs. {{total_i7}}</h3>

         </div>

         <hr>

         <!--Oppo find X-->
         <div class="product4">
            <h2>Oppo Find X</h2>
            <center>
               <img src="oppo-find-x-front.jpeg" alt="Front Image">
               <img src="oppo-find-x-back.jpeg" alt="Back Image">
            </center>
            <br>
            <b>Select Color: </b>
            <select ng-controller='fxcolorsctrl' ng-model="fxcolormodel" ng-options="x for x in fxcolors" ng-change='fxcolorsFun()'>
            </select>

            <b>Select Storage: </b>
            <select ng-controller='fxmemoryctrl' ng-model="fxmemorymodel" ng-options="x for x in fxmemory" ng-change='fxmemoryFun()'>
            </select>

            <b>Select RAM: </b>
            <select ng-controller='fxramctrl' ng-model="fxrammodel" ng-options="x for x in fxram" ng-change='fxramFun()'>
            </select>

            <h3 ng-controller="fxctrl">Total Price: Rs. {{total_fx}}</h3>

         </div>

         <hr>

         <!--Redmi k20 pro-->
         <div class="product5">
            <h2>Redmi K20 Pro</h2>
            <center>
               <img src="redmi-k20-pro-front.jpeg" alt="Front Image">
               <img src="redmi-k20-pro-back.jpeg" alt="Back Image">
            </center>
            <br>
            <b>Select Color: </b>
            <select ng-controller='k20colorsctrl' ng-model="k20colormodel" ng-options="x for x in k20colors" ng-change='k20colorsFun()'>
            </select>

            <b>Select Storage: </b>
            <select ng-controller='k20memoryctrl' ng-model="k20memorymodel" ng-options="x for x in k20memory" ng-change='k20memoryFun()'>
            </select>

            <b>Select RAM: </b>
            <select ng-controller='k20ramctrl' ng-model="k20rammodel" ng-options="x for x in k20ram" ng-change='k20ramFun()'>
            </select>

            <h3 ng-controller="k20ctrl">Total Price: Rs. {{total_k20}}</h3>

         </div>

         <hr>

      </div>

   </body>
</html>
