<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>
         AngularJS Case Study
      </title>
      <link rel="stylesheet" href="styles.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js" charset="utf-8"></script>
      <script src="case_study_script.js" charset="utf-8" async></script>
   </head>
   <body ng-app="app">

      <div class="logo-name">
         <center>
            <b>www.ES.com</p>
         </center>
      </div>

      <p id="note">*<b>Only these models are available!!!</b></p>

      <div class="products-display">

         <!--Samsung Galaxy S10 plus-->
         <div class="product1" ng-controller='s10ctrl'>
            <h2>Samsung Galaxy S10+</h2>
            <center>
               <img src="samsung-galaxy-s10-plus-front.jpeg" alt="Front Image">
               <img src="samsung-galaxy-s10-plus-back.jpeg" alt="Back Image">
            </center>
            <br>
            <b>Select Color: </b>
            <select ng-model="s10colormodel" ng-options="x for x in s10colors" ng-change='s10colorsFun()'>
            </select>

            <b id="space">ROM: 128GB</b>

            <b id="space">RAM: 8GB</b>

            <button class="add-cart-btn" type="button" ng-click="">Add to cart</button>

            <h3>Total Price: Rs. {{total_S10}}</h3>

         </div>

         <hr>

         <!--Vivo Z1 Pro-->
         <div class="product2" ng-controller='vz1ctrl'>
            <h2>Vivo Z1 Pro</h2>
            <center>
               <img src="vivo-z1-pro-front.jpeg" alt="Front Image">
               <img src="vivo-z1-pro-back.jpeg" alt="Back Image">
            </center>
            <br>
            <b>Select Color: </b>
            <select ng-model="vz1colormodel" ng-options="x for x in vz1colors" ng-change='vz1colorsFun()'>
            </select>

            <b id="space">ROM: 64GB</b>

            <b id="space">RAM: 4GB</b>

            <button class="add-cart-btn" type="button" ng-click="">Add to cart</button>

            <h3>Total Price: Rs. {{total_vz1}}</h3>

         </div>

         <hr>

         <!--Apple iPhone 7-->
         <div class="product3" ng-controller='i7ctrl'>
            <h2>Apple iPhone 7</h2>
            <center>
               <img src="apple-iphone-7-front.jpeg" alt="Front Image">
               <img src="apple-iphone-7-back.jpeg" alt="Back Image">
            </center>
            <br>
            <b>Select Color: </b>
            <select ng-model="i7colormodel" ng-options="x for x in i7colors" ng-change='i7colorsFun()'>
            </select>

            <b id="space">ROM: 32GB</b>

            <b id="space">RAM: 2GB</b>

            <button class="add-cart-btn" type="button" ng-click="">Add to cart</button>

            <h3>Total Price: Rs. {{total_i7}}</h3>

         </div>

         <hr>

         <!--Oppo find X-->
         <div class="product4" ng-controller='fxctrl'>
            <h2>Oppo Find X</h2>
            <center>
               <img src="oppo-find-x-front.jpeg" alt="Front Image">
               <img src="oppo-find-x-back.jpeg" alt="Back Image">
            </center>
            <br>
            <b>Select Color: </b>
            <select ng-model="fxcolormodel" ng-options="x for x in fxcolors" ng-change='fxcolorsFun()'>
            </select>

            <b id="space">ROM: 256GB</b>

            <b id="space">RAM: 8GB</b>

            <button class="add-cart-btn" type="button" ng-click="">Add to cart</button>

            <h3>Total Price: Rs. {{total_fx}}</h3>

         </div>

         <hr>

         <!--Redmi k20 pro-->
         <div class="product5" ng-controller='k20ctrl'>
            <h2>Redmi K20 Pro</h2>
            <center>
               <img src="redmi-k20-pro-front.jpeg" alt="Front Image">
               <img src="redmi-k20-pro-back.jpeg" alt="Back Image">
            </center>
            <br>
            <b>Select Color: </b>
            <select ng-model="k20colormodel" ng-options="x for x in k20colors" ng-change='k20colorsFun()'>
            </select>

            <b id="space">ROM: 128GB</b>

            <b id="space">RAM: 6GB</b>

            <button class="add-cart-btn" type="button" ng-click="">Add to cart</button>

            <h3>Total Price: Rs. {{total_k20}}</h3>

         </div>

         <hr>

      </div>

   </body>
</html>
